*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#F5F3EE;
}

/* TOP BAR */

.topbar{
background:#A8BBA2;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
color:white;
}

.hamburger{
font-size:35px;
cursor:pointer;
}

/* SIDEBAR */

#sidebar{
position:fixed;
top:0;
right:-300px;
width:300px;
height:100%;
background:#7E9C7A;
padding-top:80px;
transition:0.4s;
}

#sidebar a{
display:block;
padding:20px;
color:white;
text-decoration:none;
font-size:22px;
}

#sidebar a:hover{
background:#6B8A67;
}

.close-btn{
position:absolute;
top:20px;
right:20px;
font-size:30px;
color:white;
cursor:pointer;
}

/* HERO */

.hero{
text-align:center;
margin-top:120px;
padding:20px;
}

.hero h1{
font-size:60px;
color:#556B54;
}

.hero p{
margin-top:20px;
font-size:22px;
color:#666;
}
.title{
text-align:center;
margin-top:40px;
color:#556B54;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:50px;
}

.card{
background:white;
padding:40px;
border-radius:15px;
text-align:center;
text-decoration:none;
color:#556B54;
font-weight:bold;
box-shadow:0 4px 10px rgba(0,0,0,.08);
}
